body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.btn {
    font-family: 'Segoe UI', sans-serif;
    background-color: #5f9f9c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    background-color: white;
    color: #5f9f9c;
    border: 1px solid #5f9f9c;
}

.logout-btn {
    background-color: #e53835dc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    font-weight: bold;
    text-transform: uppercase;
}

.logout:hover {
    background-color: white;
    color: #c62828;
    border: 1px solid #c62828;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 40px 10px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.card:visited {
    color: inherit;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-color: #5f9f9c;
    color: #5f9f9c;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.logo-img {
    height: 65px;
    width: auto;
}