/* Reset general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
}

/* Barra de navegación superior */
.top-bar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Botones de navegación izquierda */
.nav-left {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #5f9f9c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  
}

.btn:hover {
  background-color: white;
  color: #5f9f9c;
  border: 1px solid #5f9f9c;
}

.btn.active {
  background-color: white;
  color: #5f9f9c;
  border: 2px solid #5f9f9c;
}

/* Usuario + cerrar sesión */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon {
  font-size: 18px;
}

.user-info {
  font-weight: 500;
  color: #333;
}

.logout-btn {
  background-color: #e53835dc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: white;
  color: #c62828;
  border: 1px solid #c62828;
}

/* Línea divisoria */
hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0;
}

/* Sección de búsqueda */
.content {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  background-color: #f1f1f1;
  font-style: italic;
}

.search-icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
}

.search-btn {
  background-color: #5f9f9c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:hover {
  background-color: white;
  color: #5f9f9c;
  border: 1px solid #5f9f9c;
}

